# This file is part of harbour-minidoro.
# SPDX-FileCopyrightText: 2022-2023 Mirian Margiani
# SPDX-License-Identifier: GPL-3.0-or-later

build*
*.user
*~
icon-src/raw
.directory

libs/opal-docs
libs/opal-translations
